<div class="embed-responsive embed-responsive-16by9">
    <iframe cass="embed-responsive-item" src="" allowfullscreen></iframe>
</div>

<script type="application/javascript">
// Query backend
//   - Spin up container
//   - Create proxy link
//   - Set up environment
// Receive proxy token in return
//   - Access / Refresh?
// Insert into iframe
//   - Spinner while waiting?

</script>
