<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" arial-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img alt="B" src="">
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
{{#if user}}
        <ul class="navbar-nav navbar-right ml-auto" title="Logged in as {{user.displayName}}">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="userDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{user.avatarUrl}}" alt="{{user.username}}" width="25" height="25"/>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownLink">
                    <a href="/projects" class="dropdown-item"><i class="fa fa-fw fa-list"></i> Projects</a>
                    <a href="/settings" class="dropdown-item"><i class="fa fa-fw fa-gears"></i> Settings</a>
                    <div class="dropdown-divider"></div>
                    <a href="/auth/logout" class="dropdown-item"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
                </div>
            </li>
        </ul>
{{else}}
        <div class="navbar-right" style="margin-right: 0px">
            <a href="/auth" class="btn btn-primary navbar-btn" role="button">Login</a>
        </div>
{{/if}}
    </div>

    <script type="application/javascript">
        (function() {
            function repadBody() {
                $('body').css('padding-top', $('.navbar:first').outerHeight() + 10);
            };

            $(window)
                .on('resize', repadBody)
                .on('load', repadBody);
        })();
    </script>
</nav>
